<header class="header_color">
<div class="container">
  <div class="header_nav">
    <a href="" class="">
        <svg class="" width="48" height="44">
          <use href="./images/sprite.svg#icon-untitled">
          </use>
        </svg>
        </a>
<div>
        <nav class="nav"> 
         <ul class="nav-list">
           <li class="nav-item">
           <a class="header_decoration" href="">Home</a>
         </li>
           <li class="nav-item">
             <a class="header_decoration" href="">How it’s made?</a>
           </li>
           <li class="nav-item">
             <a class="header_decoration" href="">Our products</a>
            </li>
            <li class="nav-item">
              <a class="header_decoration" href="">Contact</a>
             </li>
         </ul>
        </nav>
</div>
        <button type="button" class="">Buy now ></button>
  </div>
</div>
   
    
</header>